{
"results": [

#set($separator = "")
#foreach( $hcatStat in $hcatStats )
    #set ($map = $hcatStat.timedStats.statisticsByTag )
    #foreach ($result in $map.entrySet())
    $separator
    {
        #set ($statistics = $result.value)
        "fileName": "$hcatStat.FileName",
        "test": "$result.key",
        "avg": $statistics.Mean,
        "min": $statistics.Min,
        "max": $statistics.Max,
        "standardDeviation": $statistics.StandardDeviation,
        "count": $statistics.Count,
        "chartUrl": "$hcatStat.ChartUrl"
    }
    #set($separator = ", ")
    #end

#end
]}
